# importing all our important library

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime as dt
import time
import ipywidgets
#from ipython.display import display

In [89]:
#Reading our covid vaccination data 
data1 = pd.read_csv("covid_vaccine_statewise.csv", dayfirst = True)

In [90]:
data1.head()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,251280.0

In [91]:
data1.describe()

,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
count,5.024000e+03,5.024000e+03,5024.000000,5.024000e+03,5.024000e+03,5.024000e+03,5.024000e+03,5024.000000,5.024000e+03,5.024000e+03,400.000000,2841.000000,2.840000e+03,2.841000e+03,2.841000e+03,5.030000e+03
mean,3.401438e+06,2.600498e+05,2384.020104,3.387216e+06,7.343071e+05,1.786906e+06,1.614083e+06,448.445263,3.974345e+05,3.706957e+06,174.385000,1010.388244,8.263328e+05,2.452840e+06,2.383460e+06,4.116607e+06
std,1.394593e+07,1.029274e+06,7635.063621,1.393894e+07,3.322488e+06,7.344679e+06,6.601535e+06,1912.819753,1.722429e+06,1.547602e+07,1089.911963,3048.779016,2.763289e+06,8.095853e+06,7.456876e+06,1.717802e+07
min,7.000000e+00,0.000000e+00,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000,0.000000e+00,7.000000e+00,0.000000,0.000000,1.059000e+03,1.136000e+03,5.580000e+02,0.000000e+00
25%,5.512450e+04,2.677000e+03,67.000000,5.413900e+04,1.510000e+03,2.858100e+04,2.468375e+04,2.000000,0.000000e+00,6.161800e+04,0.000000,85.000000,3.535650e+04,8.125200e+04,5.150100e+04,6.164375e+04
50%,2.937410e+05,1.390300e+04,587.000000,2.894825e+05,5.104100e+04,1.440545e+05,1.466670e+05,31.000000,8.925000e+02,3.137425e+05,0.000000,269.000000,2.453445e+05,6.377570e+05,7.234330e+05,3.325015e+05
75%,2.438030e+06,1.751982e+05,1837.000000,2.428676e+06,4.470742e+05,1.311822e+06,1.130487e+06,304.000000,2.287645e+05,2.624595e+06,0.000000,653.000000,6.378688e+05,2.213184e+06,2.032984e+06,2.888429e+06
max,1.683935e+08,1.134066e+07,73933.000000,1.683935e+08,4.338497e+07,9.009561e+07,7.827158e+07,26337.000000,2.344288e+07,1.883247e+08,10898.000000,21260.000000,3.649496e+07,7.238806e+07,5.946106e+07,2.117785e+08

In [92]:
#Changing the data type of "updated on" to datetype

In [93]:
data1["Updated On"] = pd.to_datetime(data1["Updated On"])

In [94]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5144 entries, 0 to 5143
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           5144 non-null   datetime64[ns]
 1   State                                5144 non-null   object
 2   Total Individuals Vaccinated         5024 non-null   float64
 3   Total Sessions Conducted             5024 non-null   float64
 4   Total Sites                          5024 non-null   float64
 5   First Dose Administered              5024 non-null   float64
 6   Second Dose Administered             5024 non-null   float64
 7   Male(Individuals Vaccinated)         5024 non-null   float64
 8   Female(Individuals Vaccinated)       5024 non-null   float64
 9   Transgender(Individuals Vaccinated)  5024 non-null   float64
 10  Total Covaxin Administered           5024 non-null   float64
 11  Total CoviShield Administered        5024 non-null   float64
 12  Total Sputnik V Administered         400 non-null    float64
 13  AEFI                                 2841 non-null   float64
 14  18-45 years (Age)                    2840 non-null   float64
 15  45-60 years (Age)                    2841 non-null   float64
 16  60+ years (Age)                      2841 non-null   float64
 17  Total Doses Administered             5030 non-null   float64
dtypes: datetime64[ns](1), float64(16), object(1)
memory usage: 703.3+ KB

# Data Cleaning Process of our file and extracting important details

In [95]:
data1.tail()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
5139,2021-05-30,West Bengal,10547015.0,381157.0,1170.0,10547015.0,3865954.0,5871662.0,4674095.0,1258.0,1625834.0,12787135.0,0.0,1100.0,2202804.0,4404252.0,3938023.0,14412969.0
5140,2021-05-31,West Bengal,10838457.0,839415.0,2511.0,10838457.0,3879678.0,6050228.0,4786796.0,1433.0,1650999.0,13067136.0,0.0,1144.0,2402085.0,4469534.0,3964698.0,14718135.0
5141,2021-01-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5142,2021-02-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5143,2021-03-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
data1.isnull().sum()

Updated On                                0
State                                     0
Total Individuals Vaccinated            120
Total Sessions Conducted                120
Total Sites                             120
First Dose Administered                 120
Second Dose Administered                120
Male(Individuals Vaccinated)            120
Female(Individuals Vaccinated)          120
Transgender(Individuals Vaccinated)     120
Total Covaxin Administered              120
Total CoviShield Administered           120
Total Sputnik V Administered           4744
AEFI                                   2303
18-45 years (Age)                      2304
45-60 years (Age)                      2303
60+ years (Age)                        2303
Total Doses Administered                114
dtype: int64

In [97]:
#filling all the null value with 0 because it will not effect on our dataframe

In [98]:
#data1 = data1.fillna(0)

In [99]:
data1.tail()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
5139,2021-05-30,West Bengal,10547015.0,381157.0,1170.0,10547015.0,3865954.0,5871662.0,4674095.0,1258.0,1625834.0,12787135.0,0.0,1100.0,2202804.0,4404252.0,3938023.0,14412969.0
5140,2021-05-31,West Bengal,10838457.0,839415.0,2511.0,10838457.0,3879678.0,6050228.0,4786796.0,1433.0,1650999.0,13067136.0,0.0,1144.0,2402085.0,4469534.0,3964698.0,14718135.0
5141,2021-01-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5142,2021-02-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5143,2021-03-06,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#extracting important columns for us, on which we are going to work

In [100]:
data1 = data1.rename(columns={'Updated On':'date', 'State':'state','Male(Individuals Vaccinated)':'male_vaccinated',
       'Female(Individuals Vaccinated)':'female_vaccinated', 'Transgender(Individuals Vaccinated)':'trans_vaccinated','Total Doses Administered':'total_doses'})

In [101]:
data1 = data1[["date","state","male_vaccinated","female_vaccinated","trans_vaccinated","total_doses"]]

In [105]:
#fill NaN values with precedind values to make it nuetral
data1 = data1.fillna(method = 'ffill')

# Analysing our data and plotting graph for that

In [106]:
#temp = data1[data1.date == "2021-3-05"]
temp_state = data1.state.unique()

In [107]:
new_temp_state = ipywidgets.Dropdown(
                options=temp_state,
                #options = temp_value
                value=temp_state[0],
                description='Select state:',
                disabled=False,
                )
def select (select):
    temp2_state = data1[data1.state == new_temp_state.value]
    temp_value = ["total_doses","female_vaccinated","trans_vaccinated","male_vaccinated"]
    data_select2 = ipywidgets.Dropdown(
                options= temp_value,
                value=temp_value[0],
                description='Select option:',
                disabled=False,
                )
    
    #print("first",new_temp_state)
    #print("second",temp2_state)
    def data_select(data_select):
        
        sns.set(rc = {'figure.figsize':(15,10)})
        if data_select2.value == "total_doses":
            plot1 = sns.lineplot(x = "date",y = "total_doses", data = temp2_state,color = "g")
        elif data_select2.value == "female_vaccinated": 
            plot2 = sns.lineplot(x = "date",y = "female_vaccinated", data = temp2_state, color = "b")
        elif data_select2.value =="trans_vaccinated":
            plot3 = sns.lineplot(x = "date",y = "trans_vaccinated", data = temp2_state, color = "r")
        elif data_select2.value =="male_vaccinated":
            plot3 = sns.lineplot(x = "date",y = "male_vaccinated", data = temp2_state, color = "y")
        #plt.title(new_temp_state)
    data_select(data_select2)
    ipywidgets.interact(data_select, data_select = data_select2)

In [108]:
# Here Green Line indicating  Total doses of Covid vaccination in that state or country
# Here Blue Line indicating  female vaccination of Covid vaccination in that state or country
# Here Red Line indicating  Transgender vaccination of Covid vaccination in that state or country
# Here yellow Line indicating  male vaccination of Covid vaccination in that state or country

In [109]:
ipywidgets.interact(select, select = new_temp_state)

interactive(children=(Dropdown(description='Select state:', options=('India', 'Andaman and Nicobar Islands', '…

# Here we are predicting Total vaccination in future

In [110]:
#using ipywidgets library to create dropdown option for user to easily select the query
temp_value = ["total_doses","female_vaccinated","trans_vaccinated","male_vaccinated"]
data_select3 = ipywidgets.Dropdown(
            options= temp_value,
            value=temp_value[0],
            description='Select option:',
            disabled=False,
            )
#making our ultimate state predictor function to predict our data statewise
def ultimate_prediction(predict):
    #creating datepicker for user
    select_date = ipywidgets.DatePicker(
    description='Pick a Date',
    disabled=False
    )
    #creating predict_data function for returning the future cases depend upon the user selection
    def predict_data(prediction):
        from sklearn.model_selection import train_test_split
        #print("first",new_temp_state)
        temp_state_value = data1[data1.state == new_temp_state.value]
        temp_state_value['date'] = temp_state_value['date'].map(dt.datetime.toordinal)
        #print("second",temp_state_value['date'])
        #temp_state_value.head()
        x = temp_state_value['date']
        temp = data_select3.value
        #print(temp)
        y = temp_state_value[temp]
        x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
        from sklearn.ensemble import RandomForestRegressor
        rf = RandomForestRegressor()
        rf.fit(np.array(x_train).reshape(-1,1),np.array(y_train).reshape(-1,1))
        #print(select_date.value)
        choose_date = select_date.value
        x = None
        #print(choose_date)
        choose_date2 = dt.date.today()
        
        choose_date2 = choose_date2.toordinal()
        #print(choose_date)
        if choose_date == x:
            result = rf.predict([[choose_date2]])
        if choose_date != x:
            choose_date = choose_date.toordinal()
            result = rf.predict([[choose_date2]])     
        return result
    #predict_data(prediction)
    ipywidgets.interact(predict_data, prediction = select_date)
new_temp_state

Dropdown(description='Select state:', options=('India', 'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arun…

In [111]:
ipywidgets.interact(ultimate_prediction, predict = data_select3)

interactive(children=(Dropdown(description='Select option:', options=('total_doses', 'female_vaccinated', 'tra…